.btnacceuil{  
    margin: 0;
    @media (min-width: $size-desktop){
        grid-column: 3;
        justify-self: end;
    } 
}
.btn__acceuil--index{
    grid-column: 2;
    justify-self: end;
}
.btn__acceuil{
    margin: 0;
    border: $c-green solid 1px;
    border-radius: 8px;
    width: fit-content;
    align-self: center;
    padding: 10px;
    color: $c-green;
    text-decoration: none;
}
.btn__top{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 40px;
    svg{
        width: 24px;
        height: 24px;
        fill: $c-green;
        border: $c-green solid 1px;
        border-radius: 8px;
        padding: 10px;
    }
    @media (min-width: $size-desktop){
        display: none;
    }
}
