.choosesection{
@include flex-center;
@media (min-width: $size-desktop) { 
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  auto minmax(350px, 400px);
  
  @include section-style;
  grid-row: 1/span 2;
  grid-column: 1 ;
/*   height: 90%; */
}}
.year__ref{
    font-family: $font-ManifoldExtdCF;
    width: fit-content;
    font-size: 14px;
}
.years__refs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
}
.inputnumber{
   border: none;
   color: $c-green;
  appearance: none;
  font-size: $size-result;
  text-align: center;
  background-color: transparent; }
  .inputnumber::placeholder{
    border: none;
    font-size: $size-base;
    color: $c-green;
    width: fit-content;
    text-align: center;
}
:root{
  --rotateValue: 0deg;
}
  .inputnumber:hover{
    color: $c-green;
  }
.bigknob{
  background: linear-gradient(0deg,rgb(69, 67, 67) 0%, rgb(123, 120, 120) 100%);
  border-radius: 50%;
  width: 117px;
  height: 117px;
  box-shadow: 0 0 69.4px #b7c4b8;
  @include flex-center;
  @media (min-width: $size-desktop){
    width: 230px;
    height: 230px;
  }
}
.btn__years{
  @include flex-center;
  gap: 0;
  @include  content-style;
  @media (min-width: $size-tablet) {
    padding: 30px 70px;
    margin: auto;
    grid-column: 1 / span 2;
    grid-row: 2;
    border-top: 1px solid $c-text;
    border-radius: 0;}
    
}
.bigknob__center{
  cursor: pointer;
  width: 74px;
  height: 74px;
  background: linear-gradient(0deg,rgba(30, 30, 30, 1) 0%, rgba(19, 19, 19, 1) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 19.1px #060606, 0 23px 24.9px #0000002e;
  transform: rotate(var(--rotateValue));
  @media (min-width: $size-desktop){
    width: 145px;
    height: 145px;
  }
}
.bigknob__light{
  background-color: #00FFBB;
  box-shadow: 0 0 7.3px #00ffbb5f;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  border-radius: 50%;
  @media (min-width: $size-desktop){
    width: 15px;
    height: 15px;
    margin-top: 20px;
  }
}
.year__ref{
    font-family: $font-ManifoldExtdCF;
    width: fit-content;
    font-size: 15px;
}
.songinfos__el{
  cursor: pointer
}
.songinfos__el:hover{
  color: #00FFBB
}
.songinfos__el--active{
  color: #00FF40
}
.songinfos__paragraphe{
@include scrollable;
}
.btn__hits{
  @include btn-style;
  @media (min-width: $size-desktop) {
    display: none;
  }
}
.songinfos__hitssection{
  @include  content-style;
  
  ul{
    list-style: none;
    padding: 0;
    @include scrollable;
      li{
        margin: 15px 0;
      }
    }
    @media (min-width: $size-desktop) {
      align-self: start; 
      padding-right: 10px;
      border-right: 1px solid $c-text;
      border-radius: 0; 
    }
}
.songinfos__lyrics{
  @include  content-style;
  @media(min-width: $size-desktop){
    align-self: start;
  }}