.topyear{
    @include section-style;
    h2{
        font-size: $size-base;
    }

}
.topallwords{
    @include section-style;
    h2{
        color: $c-green;
        font-family: $font-ManifoldExtdCF;
        justify-self: center}
    @media (min-width: $size-desktop) {
        align-self: flex-start;
    }
}
.topallwords__graph{
    @include style-container;
}
.year{
   color: $c-green;
   font-size: $size-result;
   margin-left: 10px;
   font-family: $font-ManifoldExtdCF;
}
.comparaisonword{
    @include section-style;
    @media (min-width: $size-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2;

    }
}
