.topyear{
    @include  content-style;
    h2{
        font-size: $size-base;
        align-items: center;
        span{
            font-size: $size-titlesection;
            color: $c-green;
        }
    }

}
.topallwords{
    @include  content-style;
    h2{
        color: $c-green;
        font-family: $font-ManifoldExtdCF;
        justify-self: center}
    @media (min-width: $size-desktop) {
        align-self: flex-start;
    }
}
.topallwords__graph{
    @include style-container;
}

.comparaisonword{
    @include section-style;
    @media (min-width: $size-desktop) {
/*         display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2;
        align-self: start; */
        height: 100%;
    }
}
