.topmots{
    @include section-style;
    @media (min-width : $size-desktop) {
        grid-column: 2;
        height: 100%;
    }
}
.topmots__graph{
    @include style-container;
    background-image: url(../../assets/images/onde.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}