.topmots{
    @include section-style;
}
.topmots__graph{
    @include style-container;
    background-image: url(../../assets/images/onde.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}