body{
    background: $c-bg;
    color: $c-text;
    font-family: $font-Excon-Regular;
    line-height: 170%;
    margin: 0;
}
.main__index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 50px 50px 0 50px;
    @media (min-width: $size-tablet){
        max-width: 600px;
        margin: auto;
    }
     @media (min-width: $size-desktop) {
        max-width: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 60px;
        margin: 0 50px;
    }
}
.main__wordfinder{
    display: flex; //SCSS AVEC MAIN INDEX
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    margin: 50px 50px 0 50px;
    @media (min-width: $size-desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0px;
        margin: 0 50px;
    }
}
.result{
    color: $c-result;
    font-size: $size-result;
    font-weight: 700;
    
}
.wordinsong__list{
    list-style: none;
}
h2{
    font-size: $size-titlesection;
    line-height: 130%;
    justify-self: start;
}

