.bigknob{
  background: linear-gradient(0deg,rgba(41, 40, 40, 1) 0%, rgba(24, 24, 24, 1) 100%);
  border-radius: 50%;
  width: 117px;
  height: 117px;
  box-shadow: 0 0 39.4px #202020;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigknob__center{
  width: 74px;
  height: 74px;
  background: linear-gradient(0deg,rgba(30, 30, 30, 1) 0%, rgba(19, 19, 19, 1) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 19.1px #060606, 0 23px 24.9px #0000002e;
}
.bigknob__light{
  background-color: aqua;
  width: 8px;
  height: 8px;
  margin-top: 10px;
  border-radius: 50%;
}
