.wordinsong{
    @include section-style;
    h2{
        border-bottom: 1px solid $c-text;
        padding-bottom: 5px;
    }
    @media (min-width: $size-desktop) {
        grid-column: 1;
        grid-row: 2 / 4;
    }
}