.wordinsong{
    @include section-style;
    h2{
        border-bottom: 1px solid $c-text;
        padding-bottom: 5px;
    }
    ul{
        @include scrollable;
        padding: 0;
        @media (min-width: $size-desktop){
            height: 800px;
        }
        li{
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            span{
                font-family: $font-ManifoldExtdCF;
                font-size: $size-year ;
                margin-left: 5px;
            }
        }
    }
    @media (min-width: $size-desktop) {
        grid-column: 1;
        grid-row: 2 / span 2;
    }
}