/* $c-bg: #323631; */
$c-bg:
  radial-gradient(at 50% -25%, rgb(0 204 255 / 0.3), transparent 35%),
  radial-gradient(at 100% 100%, rgb(0 204 255 / 0.2), transparent 30%),
  radial-gradient(at -20% 60%,rgb(0 204 255 / 0.1), transparent 35%),
  #272727;
$c-alt: #e41612;
$c-text: #ffffff;
$c-result: #4DFF00;
$c-bg-section:
  radial-gradient(at -10% 100%, rgb(255 43 43 / 0.05), transparent 25%),
  radial-gradient(at 80% 60%, rgb(59 98 255 / 0.05), transparent 20%),
  radial-gradient(at 10% 5%,rgb(59 255 239 / 0.05), transparent 35%),
  #090909;
$c-bg-content: #151515;
$c-bg-containner: #504e4e;
$c-green:#00FF90;
$size-base: 16px;
$size-title: clamp(2.375rem, 1.1876rem + 5.4282vw, 5.25875rem);
$size-result:  clamp(1.75rem, 1.5441rem + 0.9412vw, 2.25rem);
$size-spantitle: clamp(1.75rem, 0.8454rem + 4.1353vw, 3.946875rem);
$size-titlesection: clamp(1.3125rem, 1.1581rem + 0.7059vw, 1.6875rem);
$size-year: 12px;
$font-clother: 'clother', sans-serif;
$font-strelka: "strelka", sans-serif;
$font-ManifoldExtdCF:  "manifold-extd-cf", sans-serif;
$font-Excon-Regular: 'Excon-Regular', sans-serif;
$size-desktop : 1025px;
$size-tablet: 700px;